@mixin hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.virgin {
  background: url(/img/webs/virgin/background.webp) #fff;
  margin: 0;
  header {
    height: 60px;
    background-color: #2d2d2d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .row {
      display: grid;
      grid-template-columns: 70px 20px 1fr 105px 225px 40px 18px;
      grid-template-rows: 60px;
      grid-template-areas: "logo . menu . social . search";
      * {
        z-index: 2;
      }
      img {
        width: 70px;
        height: 60px;
        background: #e10a0a;
        grid-area: logo;
      }
      nav {
        grid-area: menu;
        margin-top: 10px;
        .category {
          $cat: &;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          li {
            p {
              color: #fff;
              text-transform: uppercase;
              font-size: 13px;
              min-width: 77px;
              position: relative;
              padding: 0 10px 4px 16px;
              font-family: "Montserrat", sans-serif;
            }
            &.arrow {
              p {
                padding-right: 25px;
                &::after {
                  content: "";
                  border-style: solid;
                  border-width: 7px 5px 0;
                  border-color: #ffffff transparent transparent transparent;
                  color: #fff;
                  position: absolute;
                  right: 5px;
                  top: 5px;
                }
              }
            }
            #{$cat}__subcategory {
            }
          }
        }
      }
      .social-links {
        grid-area: social;
        background-color: greenyellow;
      }
      .search {
        grid-area: search;
        background-color: yellow;
      }
    }
  }
  main {
    margin-top: 60px;
    background: url(/img/webs/virgin/frame.webp) no-repeat;
    background-size: 1500px auto;
    background-position: 50% 0;
    .row {
      display: grid;
      column-gap: 76px;
      row-gap: 27px;
      grid-template-columns: 1fr 314px;
      grid-template-rows: 180px 94px 1fr;
      grid-template-areas:
        ". ."
        "content ."
        "content widgets";
      .content {
        height: 100%;
        background-color: blue;
        grid-area: content;
        h1 {
          @include hidden;
        }
      }
      .widgets {
        height: 100%;
        background-color: green;
        grid-area: widgets;
        h2 {
          @include hidden;
        }
      }
    }
  }
  footer {
    height: 200px;
    background-color: red;
    .row {
      background: indianred;
    }
  }
  header .row,
  main .row,
  footer .row {
    max-width: 1258px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}
