*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif; }

footer {
  background-color: #27272f;
  color: white;
  font-family: helvetica;
  padding: 20px;
  text-align: center; }

.array {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
  padding: 30px;
  background: #32333d;
  border-top: 30px #27272f solid; }
  .array div {
    height: 240px;
    background-color: #373740; }
    .array div:hover {
      background-color: #336a90; }
      .array div:hover img {
        height: 220px;
        margin: 10px auto; }
    .array div img {
      height: 160px;
      display: block;
      margin: 40px auto;
      transition: 0.5s ease; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin-left: 16px;
  margin-right: 16px; }
  @media only screen and (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      column-gap: 24px;
      row-gap: 24px;
      margin-left: 24px;
      margin-right: 24px; } }
  @media only screen and (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(12, 1fr); } }
  .grid .all {
    grid-column: span 4; }
    @media only screen and (min-width: 600px) {
      .grid .all {
        grid-column: span 8; } }
    @media only screen and (min-width: 768px) {
      .grid .all {
        grid-column: span 12; } }
  .grid .full {
    grid-column: span 4;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px; }
    @media only screen and (min-width: 600px) {
      .grid .full {
        grid-column: span 8;
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 768px) {
      .grid .full {
        grid-column: span 12; } }

body {
  background-color: #424250; }

h2 {
  height: 52px; }
  h2 img {
    position: absolute;
    width: 160px;
    z-index: -1;
    margin-top: -80px;
    margin-left: -80px;
    top: 10%;
    left: 50%;
    top: 5rem; }
