@import "theme/variables.scss";
@import "theme/default.scss";
//@import "theme/landing_page.scss";

// Widgets
@import "widgets/table.scss";
@import "widgets/grid.scss";
@import "widgets/array.scss";
@import "widgets/browsers.scss";

h2 {
  height: 52px;
  img {
    position: absolute;
    width: 160px;
    z-index: -1;
    margin-top: -80px;
    margin-left: -80px;
    top: 10%;
    left: 50%;
    top: 5rem;
  }
}

.tags {
  h2 {
    font-size: 32px;
    color: white;
    line-height: 2em;
  }
  code {
    font-family: monospace;
    padding-right: 25px;
  }
}
