html,
body {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 200px 200px 200px;
  justify-content: space-evenly;
  background-color: rgb(30, 30, 30);
  padding: 15px;
  gap: 15px;

  .grid-item {
    background-color: rgba(200, 200, 200, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 200px;
    font-size: 30px;
    text-align: center;

    img {
      margin: 25px 75px 25px 75px;
      width: 150px;
      transition: width 0.5s easy-in;
    }

    &:hover {
      background-color: rgba(200, 200, 200, 0.9);
      img {
        margin: 10px 60px 10px 60px;
        width: 180px;
      }
    }
  }
}

.html5-badge {
  background: url(/img/html5.png) no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: -2px;
  position: relative;
  top: 3px;
}
