html,
body {
  padding: 0;
  margin: 0;
}
footer {
  background-color: #27272f;
  color: white;
  font-family: helvetica;
  padding: 20px;
  text-align: center;
}

.main {
  padding: 5% 2%;
  background-color: #424250;

  header {
    background-color: #27272f;
    height: 15px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 200px;
    justify-content: space-evenly;
    background-color: #363640;
    padding: 15px 0;
    gap: 15px;
    border-top: 25px #27272f solid;

    .grid-item {
      background-color: #515159;
      width: 300px;
      height: 200px;
      font-size: 30px;
      text-align: center;

      img {
        margin: 25px 75px 25px 75px;
        height: 150px;
        transition: height 0.5s easy-in;
      }

      &:hover {
        img {
          margin: 10px 60px 10px 60px;
          height: 180px;
        }
      }
    }
  }

  .html5-badge {
    background: url(/img/html5.png) no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: -2px;
    position: relative;
    top: 3px;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    .grid-container {
      grid-template-columns: auto auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    .grid-container {
      grid-template-columns: auto auto auto auto;
    }
  }
}
